.lesson-four-task-one button:hover {
  color: red;
  background: yellow;
}

.lesson-four-task-two h1:hover {
  background: green;
}

.lesson-four-task-three a:visited {
  color: yellow;
}

.lesson-four-task-four a:link {
  color: red;
}

.lesson-four-task-five .btn:active {
  background-color: blue;
}

.lesson-four-task-six .btn:focus {
  color: orange;
  background-color: orange;
}

.lesson-four-task-seven #target:target {
  color: green;
  background-color: green;
}

.lesson-four-task-eight #checkbox:checked ~ #target {
  color: #fff;
  background-color: blue;
}

.lesson-four-task-nine p:lang(uk) {
  color: blue;
}

.lesson-four-task-ten input:enabled {
  color: red;
  background: yellow;
}

.lesson-four-task-eleven input:disabled {
  background: yellow;
}

.lesson-four-task-twelve input:read-write {
  background: yellow;
}

.lesson-four-task-thirteen input:read-only {
  background: yellow;
}

.lesson-four-task-fourteen input:valid {
  background: green;
}
input:invalid {
  background: red;
}

.lesson-four-task-fifteen input:optional {
  background: red;
}

.lesson-four-task-sixteen input:out-of-range {
  color: red;
}

.lesson-four-task-seventeen input:in-range {
  color: red;
}

.lesson-four-task-eighteen input::placeholder {
  background: red;
}

.lesson-four-task-nineteen button:focus-within {
  color: #fff;
  background: yellow;
}

.lesson-four-task-twenty input:invalid {
  background: red;
}
